:root {
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --primary-link-color: #212121;
    --link-hover-color: #2196f3;
}
a {
    cursor: pointer;
}
/* background color */
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
}
/* logo */
.logo-link {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 1.2;
}
.logo-blue {
    color: var(--link-hover-color);
}
.logo-black {
    color: #000000;
}
.logo-link:focus {
    color: var(--link-hover-color);
}
/* навігація */
.site-nav li {
    display: inline-block;
}
.site-nav a {
    text-decoration: none;
    color: var(--primary-link-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.1;
}
.site-nav a:hover {
color: var(--link-hover-color);
text-decoration: none;
}
.site-nav a:focus {
    color:var(--link-hover-color);
}
/* contacts */
ul.contacts {
color: var(--primary-text-color);
}
ul.contacts>li {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.1;
}
.cont-email:hover { 
    color:var(--link-hover-color);
}
.cont-email{
    color: var(--primary-text-color);
    text-decoration: none;
}
/* hero */
.hero h1 {
    color: #ffffff;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 1.4;
    text-transform: uppercase;
    
}
.hero {
    background-color: #2f303a;
}
.button {
    background: var(--link-hover-color);
    width: 216px;
    height: 50px;
    top: 430px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
        /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.9;
    color: #ffffff;
    float: flex;
    margin: 0 auto;
    display: block;
}

/* page */
.page ul {
    display: flex;
        justify-content: center;
}
.page h3 {
    color: var(--primary-title-color);
    font-size: 14px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.1;
    text-transform: uppercase;
}
.page li {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    font-size: 14px;
    margin-right: 30px;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 1.7;
}
/* our activities */
.activities {
    text-align: center;
}
.activities h2 {
    text-align: center;
    color: var(--primary-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.2;
}
.activities li {
    display: inline-block;
}
/* our team */
.team {
    justify-content: center;
    text-align: center;
}
.team h2, 
.team h3 {
    color: var(--primary-title-color);
    text-align: center;
}
.team h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 1.2;
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1.2;
}
.team li {
    display: inline-block;
}
.team p {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 1.2;
}
/* footer */
.footer {
    background-color: #2f303a;
}
.logo-white {
    color:#ffffff
}
.footer address {
    color: #ffffff;
}
.footer a {
    color: var(--primary-text-color);
    text-decoration: none;
}
address {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
        /* or 171% */
    letter-spacing: 1.7;
}
.footer-contacts {
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 1.7;
}
/* portfolio page */

/* filter */
.filter li {
    list-style: none;
}
.filter li button:hover {
    background-color: var(--link-hover-color);
    color: #FFFFFF; 
}
button {
    cursor: pointer;
}
ul h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: var(--primary-title-color);
    letter-spacing: 2;
}
.filter-text p {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 1.9;
}